[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
beautifulsoup4 = "*"
self = "*"
apiresponse = "*"
drf-json-api = "*"
django-filter = "*"
automium-web = "*"
api = "*"
null = "*"
users = "*"
django-email-users = "*"
dt = "*"
render = "*"
django-request = "*"
tasks = "*"
crontab = "*"
task = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.8"
