[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
celery = "*"
psycopg2 = "*"
requests = "*"
redis = "*"
django-celery-beat = "*"
django-celery-results = "*"

[dev-packages]

[requires]
python_version = "3.8"
